<?xml version="1.0"?>
<!-- ENPM662-Project1-Group1 -->
<robot name="terp2" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        
        <!-- Position controller for steering (front wheels only) -->
        <joint name="right_arm_joint">
            <command_interface name="position">
                <param name="min">-0.5</param>
                <param name="max">0.5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="left_arm_joint">
            <command_interface name="position">
                <param name="min">-0.5</param>
                <param name="max">0.5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Velocity controller for movement (back wheels only) -->
        <joint name="back_right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="back_left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Additional Joint for right front wheel -->
        <joint name="right_front_wheel_joint">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Additional Joint for left front wheel -->
        <joint name="left_front_wheel_joint">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Additional Joint for trailer body -->
        <joint name="trailer_body_joint">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Additional Joint for trailer right wheel -->
        <joint name="trailer_right_wheel_joint">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Additional Joint for trailer left wheel -->
        <joint name="trailer_left_wheel_joint">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find terp2)/config/control.yaml</parameters>
        </plugin>
    </gazebo>
</robot>

